*.csv
!dataset/WebMD_annotated_v2_rawdata.csv
!dataset/BC5CDR/BC5CDR_all.csv
!dataset/BC5CDR/BC5CDR_dev.csv
!dataset/BC5CDR/BC5CDR_test.csv
!dataset/BC5CDR/BC5CDR_train.csv

*.tsv
*.tsv.gz
*.env
*.zip
*.txt
*.pkl
*.log


META*/

/models/

/__MACOSX/

/main/skr_web_python_api/
/main/lib/
/main/__pycache__/
/main/result/

/neo4j_kg_create/SIDER_藥物副作用/processed_data/
/neo4j_kg_create/umls_data/processed_data/
/neo4j_kg_create/umls_data/2023AB/
